# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Test files
*.json
# lock file
*.lock

wallet_legacy

configs/
deposit_datas.txt

backup

*secret.sh

*_output
*_backup

wallet_legacy
